<div class="form">

  <form action="/album/create" method="post" enctype="multipart/form-data">
    <label for="title">Title: </label>
    <input type="text" name="album[title]" required="required"><br>
    <label for="text">Description: </label>
    <input type="text" name="album[text]" required="required"><br>
    <input type="hidden" name="album[user_id]"value="<%=@user.id%>"><br>

    <!-- <div class= "photo-module"> -->
      
      <!-- <a id="add-photo-button" href="/photo/add"> add another photo</a><br> -->
      <input id ="add-photo" name="photo[]" type="file" multiple >
      
<!--     </div> -->

    <input id="album-button" type="submit" value="Create Album">
  </form>

</div>