<form action="/album/create" method="post" enctype="multipart/form-data">
<input class="upload-box" name="file" type="file" multiple >
<input type="hidden" name="album[user_id]" value="<%=@user.id%>">
<input type="hidden" name="album[title]" value="Stephen's life">
<input type="hidden" name="album[text]" value="My Life is awesome!">
<input type="submit" value="Upload">
</form>